* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: white;
}

.main {
    color: white;
    z-index: 1;
}

.blur {
  position: relative;
}

.blur::before {
    width: 70%;
    height: 100vh;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/night_city.jpg);
    background-position: center;
    background-size: cover;
    filter: blur(3px); /* Замените 5px на значение размытия, которое вам нужно */
    z-index: -1;
    margin: 0 auto;
  }



h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #161420;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    width: 1110px;
}

.header {
    padding: 100px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__text {
    font-size: 40px;
}

.logo {
    width: auto;
    height: 40px;
    background: white;
}

.nav {
    display: flex;
    align-items: center;
}

.menu {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 30px;
    gap: 60px;
    padding-bottom: 100px;
}

.menu__item {
    list-style-type: none;
    border-radius: 30px;
    padding: 20px 15px;
    width: 250px;
    text-align: center;
    background: #ffdb4d;
    color: #000;
    
}

.menu__item:hover {
    cursor: pointer;
    transform: scale(1.2);
    background: linear-gradient(270deg, rgba(92, 187, 76, 0.30) 31.86%, rgba(196, 196, 196, 0.74) 102.69%, rgba(255, 255, 255, 0.00) 102.69%);
}